.formSingup{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: white;
    padding: 8px;
    height: 600px;
    border-radius: 4px;
}

h2{
    color: #1b2766;
    
}